/* Start of the code:
      Author: ЯΣMZO
      DC invite: discord.gg/4BA4fSNmfT
      GitHub: github.com/r3mz0
      Donate: bmc.link/r3mz0
      Discord: @r3mz0 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
    cursor: url('https://cdn.discordapp.com/attachments/933393056756015104/1177950755748073615/cursor.cur?ex=65745f21&is=6561ea21&hm=c66482823d93efb5f4f374d92a1efb7717e95314bcb7d771d5aec1b52e19f68f&'), auto !important;
}

section {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}

section::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#F400F4,#000);
	animation: animate 5s linear infinite;
}

.regsection::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#fc0e34,#000);
	animation: animate 5s linear infinite;
}

.prsection::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#fbf8fd,#000);
	animation: animate 5s linear infinite;
}

.prsection span:hover {
	background: #f8f7f7b3;
	transition: 0s;
}

@keyframes animate {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

section span {
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: rgba(0, 0, 0, 2);
	z-index: 2;
	transition: 1.5s;
}

.regsection span:hover {
	background: #fc0e34;
	transition: 0s;
}

section span:hover {
	background: #F400F4;
	transition: 0s;
}

section .signin {
	position: absolute;
	width: 400px;
  background: #222;  
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
}

section .signin .content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}

section .signin .content h2 {
	font-size: 2em;
	color: #F400F4;
	text-transform: uppercase;
}

section .signin .content .form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

section .signin .content .form .inputBox {
	position: relative;
	width: 100%;
}

.ahref:hover {
	cursor: url('https://cdn.discordapp.com/attachments/933393056756015104/1177950755416715274/button.cur?ex=65745f21&is=6561ea21&hm=2f4ef91fe42ebbc398621ec5530baf6e3359a294363339443754cdca0d56fbee&'), auto !important;
}

.preglinks {
	color: #fff;
	text-decoration: none;
}

section .signin .content .form .inputBox input {
	position: relative;
	width: 100%;
	background: #333;
	border: none;
	outline: none;
	padding: 25px 10px 7.5px;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	font-size: 1em;
}

section .signin .content .form .inputBox i {
	position: absolute;
	left: 0;
	padding: 15px 10px;
	font-style: normal;
	color: #aaa;
	transition: 0.5s;
	pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
	transform: translateY(-7.5px);
	font-size: 0.8em;
	color: #fff;
}
  
.shine:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}
  
@-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	to {
	  -webkit-mask-position: -50%;
	}
}

.signin .content .form .links {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.signin .content .form .links a {
	color: #fff;
	text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
	color: #F400F4;
	font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
	padding: 9px;
	background: #F400F4;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: url('https://cdn.discordapp.com/attachments/933393056756015104/1177950755416715274/button.cur?ex=65745f21&is=6561ea21&hm=2f4ef91fe42ebbc398621ec5530baf6e3359a294363339443754cdca0d56fbee&'), auto !important;
}

.logeffect {
	transition: transform 0.3s ease;
}

.logeffect:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 7s infinite;
	transform: translateY(-5px);
  	transition: transform 0.3s ease;
}

.logeffect:not(:hover) {
	transform: translateY(0);
}

input[type="submit"]:active {
	opacity: 0.6;
}

.afpass:hover {
	opacity: 0.75;
	transition: 100ms;
}

.areg:hover {
	opacity: 0.75;
	transition: 100ms;
}

@media (max-width: 900px) {
	section span {
		width: calc(10vw - 2px);
		height: calc(10vw - 2px);
	}
}

.alog {
	font-weight: 600;
}

@media (max-width: 600px) {
	section span {
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}
}
/* End of the code */
